In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('properties_merged.csv')

In [3]:
df.sample(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
3107,3 BHK Flat in Mehrauli Gurgaon Road,flat,essel towers,2.20,12500.0,1760.0,Carpet area: 1760 (163.51 sq.m.),3,4,3+,not available,"Mehrauli Gurgaon Road, Mehrauli Gurgaon Road, ...",3.0,North-West,undefined,"['Mg road metro station', 'Iffco chowk metro s...",Best in class property available at mehrauli g...,"['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
1140,3 Bedroom House for sale in Sohna Road,house,independent,6.25,6944.0,836.0,Plot area 1000(836.13 sq.m.),3,3,0,not available,"Sohna Road, Gurgaon, Haryana",1.0,not available,5 to 10 Year Old,"['Rajiv Chowk Mosque', 'Standard chartered ATM...",We are proud owners of house/villa available f...,[],NaN,NaN
1621,3 BHK Flat in Sector 56 Gurgaon,flat,cghs vidya enclave,1.70,10967.0,1550.0,Super Built up area 1600(148.64 sq.m.)Carpet a...,3,2,3,store room,"Sector 56 Gurgaon, Gurgaon, Haryana",6.0,not available,10+ Year Old,"['Sector metro station', 'Sector metro station...","Details:\nHigher floor, furnished with wooden ...","['1 Fan', '1 Light', '1 AC', 'No Bed', 'No Chi...","['Private Garden / Terrace', 'Intercom Facilit...","['Green Area5 out of 5', 'Construction4.5 out ..."
961,2 BHK Flat in Sector 93 Gurgaon,flat,signature global orchard avenue,0.40,7359.0,544.0,Carpet area: 543.53 (50.5 sq.m.),2,2,2,not available,"Sector 93 Gurgaon, Gurgaon, Haryana",11.0,not available,0 to 1 Year Old,"['JMS Crosswalk Mall', 'Reliance Trends Newtow...","Situated in sector-93 gurgaon, gurgaon, signat...","['1 Fan', '1 Exhaust Fan', '1 Geyser', '5 Ligh...","['Security / Fire Alarm', 'Lift(s)', 'Maintena...","['Green Area4 out of 5', 'Construction4 out of..."
2157,2 BHK Flat in Sector 104 Gurgaon,flat,zara aavaas,0.40,7036.0,569.0,Super Built up area 568.46(52.81 sq.m.),2,2,1,not available,"Sector 104 Gurgaon, Gurgaon, Haryana",4.0,North,1 to 5 Year Old,"['Ardee Mall', 'Northern Peripheral Road', 'Mp...",Facilities such as \nMarkets \nDwarka expressw...,"['3 Fan', '1 Exhaust Fan', '5 Light', '1 Modul...","['Security / Fire Alarm', 'Intercom Facility',...","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [4]:
df.shape
df.duplicated().sum()

np.int64(0)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3941 entries, 0 to 3940
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3941 non-null   object
 1   property_type    3941 non-null   object
 2   society          3941 non-null   object
 3   price            3941 non-null   float64
 4   price_per_sqft   3941 non-null   float64
 5   area             3941 non-null   float64
 6   areaWithType     3941 non-null   object
 7   bedRoom          3941 non-null   int64
 8   bathroom         3941 non-null   int64
 9   balcony          3941 non-null   object
 10  additionalRoom   3941 non-null   object
 11  address          3930 non-null   object
 12  floorNum         3920 non-null   float64
 13  facing           3941 non-null   object
 14  agePossession    3940 non-null   object
 15  nearbyLocations  3735 non-null   object
 16  description      3941 non-null   object
 17  furnishDetails   2915 non-null   object
 18  features         3236 non-null   object
 19  rating           3493 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 615.9+ KB

In [6]:
df.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())

In [7]:
df['sector'] = df['sector'].str.lower()

In [8]:
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')

In [9]:
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')

In [10]:
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')

In [11]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [12]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')

In [13]:
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [14]:
df[df['sector'] == 'new']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,...,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1104,2 BHK Flat in New Gurgaon,flat,takshila heights sector c,new,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2,2,...,not available,"New Gurgaon, Gurgaon, Haryana",3.0,not available,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
1609,2 BHK Flat in New Gurgaon,flat,green court,new,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,...,not available,"New Gurgaon, Gurgaon, Haryana",7.0,not available,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN
3125,4 BHK Flat in New Gurgaon,flat,sare homes,new,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4,4,...,not available,"New Gurgaon, Gurgaon, Haryana",3.0,not available,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN
3904,4 BHK Flat in New Gurgaon,flat,dlf,new,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,4,...,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,not available,Jun-27,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN

In [17]:

df.loc[1104,'sector'] = 'sector 37'
df.loc[1609,'sector'] = 'sector 90'
df.loc[3125,'sector'] = 'sector 92'
df.loc[3904,'sector'] = 'sector 76'

In [19]:
df[df['sector'] == 'new sector 2']
df.loc[[617,2580,1046,3583,3789],'sector'] = 'sector 110'

In [20]:
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [21]:
df.to_csv('properties_cleaned_v1.csv',index=False)